<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<hr>
<h3>Tasks:</h3>
<ul class=" sortable">
  <% @project.tasks.order("position ASC").each do |p| %>
    <% if p.complete %>
        <li class="card font-italic" data-id="<%= p.id %>"><%= p.title %> </li>
    <% else %>
        <li class="card font-weight-normal" data-id="<%= p.id %>" ><%= p.title %> </li>
    <% end %>
  <% end %>
</ul>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
